<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="allureReports">
    <classes>
      <class name="allureReport.allureDemo_Report"/>
    </classes>
  </test> <!-- allureReports -->
</suite> <!-- Suite -->
